body {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  width: 100%;
  background-size: cover;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
ul {
  text-align: center;
}

h1 {
  font-size: 36px;
  font-weight: 300;
  padding-top: 20px;
  text-align: center;
}
h2,
h3,
h4 {
  font-size: 15px;
}
h5 {
  font-size: 12px;
  margin: 10px;
}

ul {
  line-height: 2;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.weather-app {
  background-color: #838e9f;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 45px;
  padding-top: 10px;
  padding-bottom: 25px;
  width: 300px;
}

.temp {
  font-size: 60px;
}
.farenheit-button {
  background-color: #587a9a;
  border: none;
  border-radius: 6px;
  color: aliceblue;
  font-size: 12px;
  padding: 5px;
  padding-inline: 8px;
  margin-left: 5px;
}
.farenheit-button:hover {
  opacity: 0.9;
  transition: ease-in-out 200ms;
}

.footer {
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
}

.navbar {
  background: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
  border-radius: 4px;
  width: 90%;
  margin: 0 auto;
  margin-top: 15px;
}

.humidity {
  margin-left: 15px;
}

form {
  margin-left: 20px;
  margin-top: 10px;
}
